.search-results {
    display: flex;
    flex-direction: column;
    margin: 0px 15px 15px 15px;
    overflow-y: scroll;
    font-size: 30px;
}

.search-result-header {
    height: fit-content;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    padding: 15px;
    background-color: #00b5ad;
    opacity: 0.9;
    color: white;
    border-radius: 5px;
}

.search-result {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    margin: 15px;
    justify-content: space-between;
    border-radius: 5px;
    width: 600px;
    transition: all .2s;
    box-shadow: 4px 8px 20px 2px lightgrey;
}

.search-result-details {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    padding: 0px 15px 10px 15px;
    margin-top: 10px;
}

.search-result-details span {
    text-align: left;
    padding: 10px;
    line-height: 25px;
}

.search-result:hover {
    background-color: lightgrey;
    opacity: 0.8;
}

.search-result img {
    z-index: -1;
}

.search-result .icon {
    opacity: 0; 
    position: absolute;
    padding-top: 115px;
    z-index: 10000000;
    font-size: 100px;
    width: 100%;
    height: 100%;
    color: white;
    transition: all .2s;
}

.search-result .icon:hover {
    opacity: 0.8 !important;
    cursor: pointer;
}