.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body, html, #root, .youtube-container {
  height: 100%;
}

.heading {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px 30px;
  background-color: #e8e8e8;
}

.exit-player {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  opacity: 0.6 !important;
  font-size: 20px !important;
  width: 30px !important;
  height: 50px !important;
}

.video-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.exit-player:hover {
  cursor: pointer;
  opacity: 1 !important;
}

.hidden {
  display: none !important;
}

.form-header {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}

.hide-header-toggle {
  margin: 0px;
  opacity: .9;
  bottom: 1%;
  left: 1%;
  position: absolute !important;
}

.hide-header-toggle label {
  color: white !important;
}

.ui.toggle.checkbox input:checked~label {
  color: white !important;
}
.playlist-meta {
  position: absolute;
  left: 1%;
  bottom: 1%;
}

.form-header i.icon.outline:hover {
  cursor: pointer;
  opacity: 1;
}

.header {
  margin: 0px !important;
}
.title {
  background-color: teal;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 5px !important;
}


.title div {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title div span {
  color: white;
  text-align: center;
}
.drink-text {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  justify-content: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.drink-text div {
  padding: 5px 10px !important;
  width: 95%;
  height: 90%;
  background-color: white;
  border: 0px !important;
  border-color: white;
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.playlist-form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.playlist-form .ui.action.input:not([class*="left action"])>input {
  min-width: 250px;
  margin-right: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-right-color: rgba(34,36,38,.15) !important;
}

.ui.action.input:not([class*="left action"])>.button:last-child { 
  border-radius: 5px;
}

.playlist-form .ui.input {
  flex-wrap: wrap;
}

.playlist-form .ui.label {
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
